@import "./reset.css";

* {
padding: 0;
margin: 0;

}
.header {
  width: 1440px;
  height: 770px;
  margin: 0 auto;
  margin-top: 0;
}
.headerBack {
    background-image: url(images/Photo.png);
    left: 0px;
    top: 0px;
    width: 1440px;
    height: 770px;
  }  
.headerGradient {
  background: url(images/Gradient.png);
  opacity: 0.6;
  left: 0px;
  top: 410px;
  width: 1437px;
  height: 360px;
}
  


/*
.headerGradient {
  background-image: url(images/Gradient.png);
  opacity: 0.502;
  left: 0px;
  top: 410px;
  width: 1437px;
  height: 360px;
  z-index: 26;
}
*/

