@import "./reset.css";

* {
padding: 0;
margin: 0;
}

.header {
  width: 1440px;
  height: 770px;
  margin: 0 auto;
  /*
    а зачем тут margin-top?
  */
  margin-top: 0;
}

.headerBack {
    /*
        попробуй сделать по другому перенеси стили на header и удали этот элемент вообще.
        посмотри на background-size и его свойства.
    */
  background-image: url(../images/Photo.png);
  position: absolute;
  width: 1440px;
  height: 770px;
  z-index: 25;
  margin: 0 auto;
}

.title {
  font-size: 60px;
  /*
    огорчу тебя... там не Times New Roman. GentiumBookBasic - настоящее название.
  */
  font-family: "Times New Roman";
  /*
    цвета записывай в hex (#ffffff) а не rgb(255, 255, 255) а заодно почитай про rgba(0,0,0, 0.5)
    */
  color: rgb( 255, 255, 255 );
  line-height: 0.4;
  text-align: left;
  position: absolute;
  left: 370px;
  top: 565px;
  z-index: 27;
}

.headerawesome {
  font-size: 29px;
  font-family: "Times New Roman";
  font-style: italic;
  color: rgb( 215, 215, 215 );
  line-height: 0.8;
  text-align: left;
  /*
    в проекте не не должно быть абсолютов
  */
  position: absolute;
  left: 371px;
  top: 622px;
  width: 370px;
  height: 21px;
  z-index: 28;
}

hr {
  background-color: rgb( 215, 215, 215 );
  position: absolute;
  left: 370px;
  top: 663px;
  width: 701px;
  height: 0px;
  z-index: 29;
}

.writen {
  font-size: 13px;
  font-family: "Times New Roman";
  color: #d7d7d7;
  line-height: 1.667;
  text-align: left;
  position: absolute;
  left: 373px;
  top: 681px;
  width: 195px;
  height: 29px;
  z-index: 30;
}
.writen-2 {
  font-size: 14px;
    letter-spacing: 1px;
  font-family: "Times New Roman";
  color: #FFFFFF;
  line-height: 3.667;
  text-align: left;
  position: absolute;
  top: 5px;
  width: 340px;
  height: 24px;
  z-index: 30;
}

.avtor {
background-image: url(../images/avtor.png);
position: absolute;
left: 583px;
top: 695px;
width: 28px;
height: 28px;
border-radius: 50%;
padding: 0 0 0 0;
z-index: 33;
}
/*
    форматирование кода. точно так же как и в html
*/
    .content {
    width: 1440px;
    /*
        Убери фиксированную высоту.
    */
    height: 1626px;
    background-color: #ffffff;
    margin: 0 auto;

}



.content-text {
  text-align: left;
  font-size: 22px;
  font-family: "Times New Roman";
  color: #191919;
  /*
    line-height: 1.818;  расскажешь какая тут единица измерения. 1.818 чего? px, em, rem и т.д
  */
  line-height: 1.818;
  left: 00px;
  top: 00px;
  width: 701px;
    /*
        высота. Думаю т понял что сделать)))
    */
  height: 1421px;
  margin: 0 auto;
  padding-top: 57px;

}

/*
    названия тегв. Ну это, ты понял.
*/
.abz-2 {
padding-bottom: 40px;

}

.this {
  font-size: 30px;
  width: 510px;
  text-align: center;
  margin: 0 auto;
  padding: 40px 100px 40px 100px;
  color:#626262;


}

/*
    font-awesone

    Ховерочек хочется, аж до слез хочется)))

    и читай про псевдо-элементы :before и :after
    и сделай тут before и без картинок
    http://htmlbook.ru/css/before
    http://htmlbook.ru/css/after
*/

.BACK_TO_TOP {
background-image: url(../images/backtotop.png);
background-repeat: no-repeat;
height: 67px;
width: 137px;
margin: 12% 0% 0% 40%;

}

/*
    потуги должны увенчаться успехом ))
    цыферки хочу.
*/
.lignes {
  font-size: 22px;
  font-family: "GentiumBasic";
  color: rgb( 191, 191, 191 );
  font-weight: bold;
  font-style: italic;
  line-height: 1.091;
  text-align: left;
  opacity: 0.49;
  position: absolute;
}

._1_ {
  left: 318px;
  top: 830px;
  width: 13px;
  height: 13px;
  margin: 12% 0% 0% 40%;
  z-index: 48;
}

/*
    ховерочки и еще что б плавно цыет меняла))
*/
.buttom {
font-size: 21px;
color: rgb( 46, 204, 113 );
text-align: center;
border-style: solid;
border-width: 2px;
border-color: rgb( 46, 204, 113 );
width: 270px;
height: 20px;
margin: 100px 585px;
padding: 20px 2px;
border-radius: 46px;
position: absolute;
}

/*
    (|) - Жопа
    делим на блоки, внизу 2 ссылочки (картинки) по ховеру, хочу что б картинка становилась светлее и что б работало плавненько. Подсказка - rgba() цвет
*/
.footer {
  background-image: url(../images/footer.png);
  width: 1440px;
  height: 613px;
  margin: 0 auto;
}

.footertext-1 .next {
font-family: "Times New Roman";
font-size: 15px;
font-weight: bolder;
color: white;
width: 247px;
height: 16pt;
top: 334px;
left: 70px;
position: relative;
}

.footertext-1 .next-2 {
font-family: "Times New Roman";
font-size: 15px;
font-weight: bolder;
color: white;
width: 247px;
height: 16pt;
top: 234px;
left: 789px;
position: relative;
}
.seside {
font-family: "Times New Roman";
font-size: 33px;
color: #ffffff;
width: 350px;
height: 28pt;
top: 370px;
left: 70px;
position: relative;
}

.seside-2 {
font-size: 27px;
font-style: italic;
font-stretch: normal;
color: #d7d7d7;
width: 432px;
height: 28pt;
line-height: 1.6;
top: 368px;
left: 70px;
position: relative;
}

.roma {
font-family: "Times New Roman";
font-size: 33px;
color: #ffffff;
width: 350px;
height: 28pt;
top: 270px;
left: 789px;
position: relative;
}

.roma-2 {
font-size: 27px;
font-style: italic;
font-stretch: normal;
color: #d7d7d7;
width: 432px;
/*
    что такое pt? чему равно 28pt?
*/
height: 28pt;
line-height: 1.6;
top: 267px;
left: 789px;
position: relative;
}


/*
    Полезности

    https://chrome.google.com/webstore/detail/perfectpixel-by-welldonec/dkaagdgjmgdmbnecmcefdhjekcoceebi?hl=ru
*/
